mixin info_container(title,description,button_text)
  .info_container
    h1.info_headline #{title}
    p.info_deck #{description}
    a.info_button(href="http://www.jaguar.com/jaguar-range/xe/experience-xe/index.html", target="_blank") #{button_text}