doctype html
html
  head
    include ./includes/head.jade
  body.info_body
    include ./mixins/container_description.jade
  +info_container('Jaguar XE'
    , 'Jaguar has always had a passion for creativity, innovation and dynamic design; qualities we feel are perfectly expressed in XE. With the introduction of this astonishing vehicle we have joined forces with the very best British creative minds to craft a series of collaborative projects.', 'Go to Website')